doctype html
head
  title SycerNetwork - DiscordBot
  link(rel='apple-touch-icon' sizes='57x57' href='./ico/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='./ico/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='./ico/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='./ico/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='./ico/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='./ico/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='./ico/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='./ico/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='./ico/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='./ico/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='./ico/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='./ico/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='./ico/favicon-16x16.png')
  link(rel='manifest' href='./ico/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='./ico/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  meta(name='theme-color' content='#D79921')
  meta(name='description' content='ร้านอาหารอลังกาลงานช้างเซิงกันจัดทำเพื่อความสนุกและ Discord ที่ยืนยันโคตรยากชิบหาย มาได้ตลอดเวลา มีพร้อมกับบอท CyberHorny#2077 ที่สามารถอ่านเว็บ nติดปีก ได้แบบ multi-user')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://cszteam.me/')
  meta(property='og:title' content='เว็บขายกับข้าว เส้นใหญ่ น้ำหวาน น้ำแข็งใส Sycer Network และ CSZTeam ')
  meta(property='og:description' content='ร้านอาหารอลังกาลงานช้างเซิงกันจัดทำเพื่อความสนุกและ Discord ที่ยืนยันโคตรยากชิบหาย มาได้ตลอดเวลา มีพร้อมกับบอท CyberHorny#2077 ที่สามารถอ่านเว็บ nติดปีก ได้แบบ multi-user')
  meta(property='og:image' content='')
  meta(property='twitter:card' content='summary_large_image')
  meta(property='twitter:url' content='https://cszteam.me/')
  meta(property='twitter:title' content='เว็บขายกับข้าว เส้นใหญ่ น้ำหวาน น้ำแข็งใส Sycer Network และ CSZTeam ')
  meta(property='twitter:description' content='ร้านอาหารอลังกาลงานช้างเซิงกันจัดทำเพื่อความสนุกและ Discord ที่ยืนยันโคตรยากชิบหาย มาได้ตลอดเวลา มีพร้อมกับบอท CyberHorny#2077 ที่สามารถอ่านเว็บ nติดปีก ได้แบบ multi-user')
  meta(property='twitter:image' content='./cdn/images/bg.jpg')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='cdn/assets/css/main.css')
  noscript
    link(rel='stylesheet' href='cdn/assets/css/noscript.css')
  style.
    ::-webkit-scrollbar {
    width: 0px;
    }
body(class="is-preload")
#wrapper
  header#header
    .logo
      img(src= bot_image style='width: 5.5rem;height: 5.5rem;line-height: 5.5rem;border-radius: 100%;')
    .content
      .inner
        h1 SyChan#3347
        p
          | high quality music bots,
          | lots of filters,
          | R18 command
          | And most importantly, it doesn&apos;t cost anything at all.
        
          ul.actions.center(style='justify-content: space-evenly;margin-bottom: 0;')
            li
              a.button.small(href='https://discord.com/oauth2/authorize?client_id=940563218579996702&permissions=8&scope=bot%20applications.commands' target='_blank') 
                i.fas.fa-robot
                |  Invite
            li
              a.button.small(href='#usescount')
                |  uses
            li
              a.button.small(href='https://discord.gg/hGZ3HxCJER' target='_blank')
                i.fab.fa-discord
                |  Join us
    nav
      ul
        li
          a(href='#intro') Intro
        li
          a(href='#command') Command
        li
          a(href='#about') About
        li
          a(href='#sponsor') Sponsor
  #main
    article#intro
      h2.major Intro
      span
        img.image.main(src='cdn/images/pic01.jpg' alt='')
      p
        | This bot has source code based on 
        a(href='https://github.com/TinnerKun/CycerHorny-2077-bot') CyberHorny#2077
        |  and has made
        | &#x9;&#x9;&#x9;&#x9;&#x9;improvements, edits, and additions and disabling the command in the form of arguments to reduce the
        | &#x9;&#x9;&#x9;&#x9;&#x9;behavior of detect every character Easy to maintain the server for longer The reason for making bots
        | &#x9;&#x9;&#x9;&#x9;&#x9;is because there are no interesting bots at all So I made it myself Because we cannot trust all Thai
        | &#x9;&#x9;&#x9;&#x9;&#x9;bots, whether they are famous or not.
      p
        | Because there was an incident, the Thai Discord bot dropped the token around 2021, Q3, and it was
        | able to destroy the server It is recommended that you choose to use a bot Don&apos;t look at the
        | popularity and recommendations page, look at the developer intent instead.
      p
        | We can&apos;t end the list of bots that dropped their tokens because they have a lot of backups, so we&apos;re
        | not afraid but not telling because I don&apos;t want to have an affair with them because it&apos;s annoying
        | It&apos;s like hitting a little kid Remember, no one is neutral Even if he thinks he&apos;s right But that&apos;s
        | your side of the eye Don&apos;t take one side of you as a mat.
    article#command
      h2.major Command Bot
      span
        img.image.main(src='cdn/images/pic02-Recovered.gif' alt='')
      h3 general command
      p(style='margin: 0 0 0 0')
        code /help
        |  Commands help within Discord.
      p(style='margin: 0 0 0 0')
        code /invite
        |  Invite bots to the server
      p
        code /stats
        |  Check server status
      hr
      h3 music command
      p(style='margin: 0 0 0 0')
        code /247
        |  make 24/7 in voice channel!
      p(style='margin: 0 0 0 0')
        code /clear
        |  Clear song in queue!
      p(style='margin: 0 0 0 0')
        code /forward
        |  Forward timestamp in the song!
      p(style='margin: 0 0 0 0')
        code /join
        |  Makes the bot join the voice channel.
      p(style='margin: 0 0 0 0')
        code /leave
        |  Makes the bot leave the voice channel.
      p(style='margin: 0 0 0 0')
        code /loop
        |  Loop song in queue type all/current!
      p(style='margin: 0 0 0 0')
        code /nowplaying
        |  Displays what the current song every 5 seconds.
      p(style='margin: 0 0 0 0')
        code /pause
        |  Makes the bot pause/resume the music currently playing.
      p(style='margin: 0 0 0 0')
        code /play
        |  Play a song from any types.
      p(style='margin: 0 0 0 0')
        code /previous
        |  Previous a song
      p(style='margin: 0 0 0 0')
        code /queue
        |  Show the queue of songs.
      p(style='margin: 0 0 0 0')
        code /replay
        |  Replay current song!
      p(style='margin: 0 0 0 0')
        code /resume
        |  Makes the bot pause/resume the music currently playing.
      p(style='margin: 0 0 0 0')
        code /rewind
        |  Rewind timestamp in the song!
      p(style='margin: 0 0 0 0')
        code /search
        |  Play a song/playlist or search for a song from youtube
      p(style='margin: 0 0 0 0')
        code /seek
        |  Seek timestamp in the song!
      p(style='margin: 0 0 0 0')
        code /shuffle
        |  Shuffle song in queue!
      p(style='margin: 0 0 0 0')
        code /skip
        |  Skips the song currently playing.
      p(style='margin: 0 0 0 0')
        code /skipto
        |  Skips to a certain song in the queue.
      p
        code /volume
        |  Adjusts the volume of the bot.
      hr
      h3 filters command
      p(style='margin: 0 0 0 0')
        code /filter
        |  all equalizer [ 247, bass, china, chipmunk, dance,
        | &#x9;&#x9;&#x9;&#x9;&#x9;darthvader, doubletime, earrape, karaoke, nightcore, pop, slowmotion, soft, superbass, treblebass,
        | &#x9;&#x9;&#x9;&#x9;&#x9;tremolo, vaporwave, vibrate, vibrato, reset ]
      p
        code /filter-fix
        |  all equalizer fix [ bassboost, pitch, rate, speed , reset ]
      hr
      h3 R-18 command
      p(style='margin: 0 0 0 0')
        code /neko
        |  All cdn/images obtained from https://nekos.life/ and take a
        | &#x9;&#x9;&#x9;&#x9;&#x9;random
      p(style='margin: 0 0 0 0')
        code /nhentai
        |  Random doujin from the web https://nhentai.net and can
        | &#x9;&#x9;&#x9;&#x9;&#x9;be configured with 6 digits
      p
        code /nhentai-tag
        |  Random doujin from the web https://nhentai.net and will be randomly
        | &#x9;&#x9;&#x9;&#x9;&#x9;selected from the tags listed.
    article#about
      h2.major About
      span
        img.image.main(src='cdn/images/pic03.jpg' alt='')
      p
        | We, Sycer, who most people know by name, are contributors, our areas and communities live together
        | very warmly. no matter what As much as we can do, we will help.
        | Most importantly, our community is like brothers and sisters. If there is betrayal or wrongdoing, we
        | are ready to punish. It&apos;s more of a good thing than forgiveness, and it will continue to happen. if
        | there is no punishment
        | Being a gaming community, we are very good at Penetration Testing &amp; DDoS Testing, being the first in
        | Thailand.
        | We have strong partners whether domestic or international.
        | And most of us are often attacked. but we don&apos;t care but if overdoing We are ready to attack hard.
        | Don&apos;t care if it&apos;s too heavy because it was considered a warning before that
    article#usescount
      h2.major Number of commands used
      span
        script(src='https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js')
        canvas#myChart(height: auto;width: 400px; style="height: auto;width: 400px;")
        
        script.
            const p = '#{count_prewew_keys}'
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
            type: 'pie',
            data: {
            labels: JSON.parse(p.replaceAll('&quot;', '"')),
            datasets: [{
            label: '# of Votes',
            data: #{count_prewew_values},
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            }]
            },
            options: {
            scales: {
            }
            }
            });
    //-   .table-wrapper
    //-     table.alt
    //-         thead
    //-         tr(style="background-color: rgb(255 255 255 / 0%);")
    //-             th Command
    //-             th Use Count
    //-         tbody
    //-          each val, key in count_prewew
    //-           tr
    //-            td= val
    //-            td= key
    article#sponsor
      h2.major Sponsor
      span
        img.image.main(src='cdn/images/pic04.jpg' alt='')
      p(style='margin: 0 0 0 0')
        a(href='https://limitrack.com/' target='_blank') Limitrack.com
        |  : &#xE44;&#xE14;&#xE49;
        | &#x9;&#x9;&#x9;&#x9;&#x9;Sponser &#xE40;&#xE04;&#xE23;&#xE37;&#xE48;&#xE2D;&#xE07;&#xE43;&#xE19;&#xE40;&#xE04;&#xE23;&#xE37;&#xE2D; &#xE17;&#xE35;&#xE48;&#xE43;&#xE2B;&#xE49;&#xE1E;&#xE27;&#xE01;&#xE40;&#xE23;&#xE32;&#xE27;&#xE34;&#xE08;&#xE31;&#xE22; &#xE43;&#xE19;&#xE14;&#xE49;&#xE32;&#xE19; Network Engineer
  footer#footer
    p.copyright &copy; SycerNetwork 2019-2022
#bg
    script(src='cdn/assets/js/jquery.min.js')
    script(src='cdn/assets/js/browser.min.js')
    script(src='cdn/assets/js/breakpoints.min.js')
    script(src='cdn/assets/js/util.js')
    script(src='cdn/assets/js/main.js')
